/* "Fira sans" font import from font-google.com */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", serif;
}
body {
  overflow-x: hidden;
  background: #f5f5f5;
}
img {
  vertical-align: middle;
  display: flex;
}
a,
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}

/* Shared styles start from here */
.container {
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
}
.btn-big {
  border-radius: 8px;
  background: #006a50;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 16px 32px;
  transition: all linear 0.3s;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}
.btn-big:hover {
  background: #ffc239;
}

.section-title {
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
}
p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.btn-small {
  padding: 10px 20px;
  border-radius: 8px;
  background: #5490f5;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: all linear 0.3s;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}
.btn-small:hover {
  background: #09a15c;
}
/* Shared styles end here */

/* Banner part style start from here */
#banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  border-radius: 24px;
  background: #c6e4d6;
  padding: 80px 100px;
}
.banner-content .sub-heading {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.banner-content .hero-title {
  color: #0e0e0e;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 24px;
}
/* Banner part style end here */

/* Vision section styles start from here */
#vision {
  margin: 80px 0;
}
#vision .section-heading .section-title {
  margin-bottom: 24px;
}
.vision-card-container {
  display: flex;
  gap: 24px;
  margin: 24px 0;
}
.vision-card-container .vision-card {
  padding: 32px;
  border-radius: 16px;
  border: 0px solid #5490f5;
  background: rgba(84, 144, 245, 0.2);
  flex: 1;
  transition: all linear 0.3s;
  &:hover {
    box-shadow: 10px 10px 10px #00000020;
  }
}
.vision-card-container .vision-card:nth-child(2) {
  border-radius: 16px;
  border: 0px solid #09a15c;
  background: #c6e4d6;
}
.vision-card-container .vision-card:nth-child(3) {
  border-radius: 16px;
  border: 0px solid #ffc239;
  background: #f7ebcf;
}
.card-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 700;
  margin: 24px 0 12px 0;
}
.card-con p {
  margin-bottom: 24px;
}

.btn-bg {
  background: #09a15c;
}
.btn-bg:hover {
  background: #5490f5;
}
.btn-bg-2 {
  background: #ffc239;
}

.quote {
  padding: 48px 24px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: url(../assets/quote-bg.png), #fff;
  background-repeat: no-repeat;
  background-position: 24px 20px;
}
.quote p {
  margin-bottom: 12px;
}
.quote h4 {
  color: rgba(14, 14, 14, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.quote span {
  color: rgba(14, 14, 14, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 4px;
}

/* Vision section styles end here */

/* Recent News section start from here */
.news-card-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 32px 0;
}
.news-card > figure > img {
  width: 408px;
  height: 306px;
}
.news-card > figure > img {
  border-radius: 24px;
  height: 100%;
}
#news .section-heading .section-title {
  margin-bottom: 24px;
}
.news-card {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 48px;
  border-radius: 24px;
  background: #fff;
}
.news-card-container .news-card:nth-child(2) {
  flex-direction: row-reverse;
}
.news-card .news-card-con .news-card-title {
  color: rgba(14, 14, 14, 0.8);
  font-size: 32px;
  font-weight: 700;
}
.news-card .news-card-con figure {
  margin: 12px 0;
}
.news-card-con .publish-time {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}
.news-card-con .publish-time time {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.news-card-con p {
  margin-bottom: 32px;
}
.news-card-con button {
  padding: 14px 28px;
  border-radius: 8px;
  background: #006a50;

  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  transition: all linear 0.3s;
}
.news-card-con button:hover {
  background: #ffc239;
}

/* Recent News section end here */

/* Donate Today section styles start from here */
#donate {
  text-align: center;
  margin: 80px 0;
}
#donate .section-heading p {
  margin: 24px auto 0;
  width: 1104px;
}
.money-card-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 32px 0;
}
.money-card-container .money-card {
  padding: 40px;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  background: #fff;
  transition: all linear 0.3s;
}
.money-card-container .money-card:hover {
  background: #c6e4d6;
}
.money-card-container .money-card:nth-child(2) {
  background: #c6e4d6;
  &:hover {
    background: #fff;
  }
}
.money-card p {
  color: rgba(14, 14, 14, 0.8);
  font-size: 40px;
  font-weight: 700;
}
#donate form {
  width: 1032px;
  margin: 0 auto;
}
#donate form input {
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  border-top: none;
  border-left: none;
  border-right: none;
  outline: 0;
  /* border: none; */
  margin-bottom: 24px;
}
#donate form input::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-size: 20px;
  font-weight: 400;
}
#donate form btn {
  border: 1px solid rgba(14, 14, 14, 0.1);
}
/* Donate Today section styles end here */

/* Newsletter section styles start from here */
#newsletter {
  padding: 80px;
  border-radius: 24px;
  background: #c6e4d6;
  text-align: center;
}
#newsletter h3 {
  color: #0e0e0e;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}
#newsletter p {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 622px;
  margin: 0 auto;
}
#newsletter form {
  display: flex;
  width: 750px;
  margin: 24px auto;
}
#newsletter form input {
  padding: 18px 40px;
  border-radius: 8px 0px 0px 8px;
  background: #fff;
  border: none;
  outline: 0;
  max-width: 100%;
  flex-grow: 1;
}
#newsletter form input::placeholder {
  color: rgba(14, 14, 14, 0.3);
  font-size: 16px;
  font-weight: 400;
}
#newsletter form button {
  padding: 0 24px;
  border-radius: 0px 8px 8px 0px;
  background: #006a50;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  transition: all linear 0.3s;
}
#newsletter form button:hover {
  background: grey;
}
#newsletter span {
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
}
/* Newsletter section styles end here */
